head
  link(rel="stylesheet", href="./index.css")
body
  main
    //- static
    section.static-positioning
      h2 static (default)
      .item static
      .item static
      .item static
    
    //- relative
    section.relative-positioning
      h2 relative
      .item static
      .item.relative relative
      .item static
    
    //- absolute
    section.absolute-positioning
      h2 absolute
      .absolute-parent
        .item static
        .item.absolute-silhouette
        .item.absolute absolute
        .item static
        .item static

    //- fixed
    section.fixed-positioning
      h2 fixed
      .fixed-parent
        .item static
        .item.fixed
          span fixed
        .item static
        .item static
